body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, canvas, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

input, button {
    width: 100%;
    box-sizing: border-box;
}

canvas {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Mobil cihazlar için */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    input, button, canvas {
        padding: 8px;
        font-size: 14px;
    }
}
